body {
    padding: 10px;
    background-color: rgb(240, 240, 250);
}

p {
    color: blue;
}

h1 {
    color: black;
}

div {
    color: blue;
}

h4 {
    color: blue;
}




.button {
    border-radius: 10px;
    border-width: 3px;

}

.inputbar {
    border-radius: 10px;
    border-width: 2px;
}

.img.resize {
    width: 540px;
    height: auto;
}