<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listing</title>
    </head>

    <body>
        <a href="{%  url 'index' %}">Homepage</a>
        <div>
            <h1>Product Listing</h1>
            <!--Auction details with picture if user posted one-->
            <p>{{auction}}, {{auction.brief_description}} Starting Price: ${{auction.price}} {{auction.created_at}} <br><br>
            {% if auction.product_image %}
                <img src="{{auction.product_image.url}}" width="400", height="200" alt="Picture"></p>
        {%endif%}
        </div>

        <!--Bid information with number of bids and highest bid-->
        <div>
            {% if bid_times != 0 %}
            <h4>{{ bid_times }} bid(s) so far. {{ bid_information }}</h4>
            {% else %}
            <h4>No bids so yet.</h4>
            <!--Message telling user if bid is not than the highest bid-->
            {% endif %}
            {% for message in messages %}
            {{message}}
            {% endfor %} 
        </div>
        
        <!--Form for submitting new new bid-->
        <div>
            <form action="{% url 'bid' %}" method="POST">
                {% csrf_token %}
                {{ bid_form }}
                <input type="submit" value="Bid">
                <input type="hidden" name="auction_id" value="{{ auction.id }}">
                <input type="hidden" name="next" value="{{ request.path }}">
            </form>
        </div>

        <!--All comment information-->
        <div>
            <h3>Comments</h3>
            {% for comment in comments %}
            {{comment.user_comment}}: {{comment.comment_text}} {{comment.comment_time}} <br>
            {% empty %}
            No comments
            {% endfor %}
        </div>

        <!--Form for sumbitting new comments-->
        <div>  
            <form action="{% url 'new_comments' auction_id=auction.id %}" method="POST">
                {% csrf_token %}
                <h3>Add Comment</h3>
                {{comment_form}}
                <input type="submit" value="Comment">
            </form>
        </div>
    </body>
</html>